apiVersion: v1
kind: Service
metadata:
  name: capstone
  namespace: casino
  labels:
    app.kubernetes.io/name: capstone
    app.kubernetes.io/component: all-in-one
    app.kubernetes.io/part-of: casino-capstone
spec:
  type: ClusterIP
  selector:
    app: capstone
    app.kubernetes.io/name: capstone
  ports:
    - name: http
      port: 80
      targetPort: http
      protocol: TCP
