apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: casino

commonLabels:
  app.kubernetes.io/part-of: casino-capstone
  app.kubernetes.io/managed-by: kustomize

commonAnnotations:
  project: casino-capstone
  team: cs-capstone

resources:
  - namespace.yaml
  - backend/secret.yaml
  - backend/deployment.yaml
  - backend/service.yaml
  - ingress/ingress.yaml

images:
  - name: capstone
    newName: capstone
    newTag: latest

configMapGenerator:
  - name: capstone-config
    literals:
      - API_PORT=8080
      - APP_ENV=development
      - LOG_LEVEL=info
      - LOG_FORMAT=json
      - COOKIE_SECURE=false
      - FRONTEND_URL=https://capstone-groupe.com
      - DB_HOST=10.36.0.12
      - DB_PORT=5432
      - DB_NAME=capstone
      - DB_SSL_MODE=disable

generatorOptions:
  disableNameSuffixHash: true
